
.navbar-brand{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

.nav-item{
    margin-right: 2rem;
}

.nav-link{
    color: white;
}

.navbar{
    width:80%;
    max-width:1120px;
    margin:0 auto;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-container{
    background-color: #00B4D8;
}

.collapse{
    justify-content: end;
}